@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayPrograms</title>
</head>
<body>
    <div> Program Names
     <p>@Model</p>
    </div>
</body>
</html>
